/* Project Title */
.project-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.editor-icon {
  margin-right: 10px;
  font-size: 24px;
  color: #4caf50; /* Green icon for visual contrast */
}

/* Main layout */
.main-page {
  display: flex;
  height: 100vh;
  background-color: #121212; /* Dark background for the entire page */
  color: #e0e0e0; /* Light text color for readability */
}

/* Side Drawer */
.side-drawer {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid #2c2c2c; /* Subtle border for separation */
  background-color: #100f0f; /* Darker background for the side drawer */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

/* Editor and Output Areas */
.editor-area,
.output-area {
  flex-grow: 1;
  padding: 10px;
  border-left: 1px solid #2c2c2c;
  overflow: auto; /* Prevent overflow issues */
}

.editor-area {
  flex: 3; /* 3 parts of the space */
  background-color: #282828; /* Dark background for editor area */
}

.output-area {
  flex: 1; /* 1 part of the space */
  background-color: #1e1e1e; /* Slightly different color for output area */
  border-left: 1px solid #2c2c2c; /* Subtle border between editor and output */
  padding: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-page {
    flex-direction: column; /* Stack everything vertically on small screens */
  }

  .side-drawer {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #2c2c2c;
  }

  .editor-area,
  .output-area {
    flex: none;
    height: 50vh; /* Split the editor and output areas equally */
  }
}
